<template>    
    <form-wrapper>
        <field-wrapper name="firstname" />
        <field-wrapper name="lastname" />
        <field-wrapper name="country" />
        <field-wrapper name="age" />
        <field-wrapper name="email" />
        <field-wrapper name="description" />     
    </form-wrapper>    
</template>

<script setup lang="ts">

// interfaces
import { Field as FieldInterface } from '#ts/interfaces/field';

// components
import FieldWrapper from '#vue/components/modules/form/field-wrapper.vue';
import FormWrapper from '#vue/components/modules/form/form-wrapper.vue';

// store
import { form } from '#vue/store/form';

form.initialize(require('#json/forms/contact.json') as FieldInterface[]);

</script>
