<template>
    <Card class="notification">
        <template #header>
            <div class="notification__header">     
                <img src="/img/success-icon.svg" alt="success ikoon">           
                <h3>{{ title }}</h3>                
            </div>
        </template>
        <template #default>
            <div class="notification__content">
                <p>{{ description }}</p>
            </div>            
        </template>
    </Card>
</template>

<script lang="ts">

// vendor
import { defineComponent } from 'vue';

// components
import Card from '#vue/components/UI/card.vue';

export default defineComponent({
    components: { Card },
    props: {
        title: {
            type: String,
            required: true
        },
        description: {
            type: String,
            required: true
        }
    }
})
</script>