.card {
    position: relative;
    background-color: white;
    border-radius: 0.6rem;
    border: 1px solid var(--color-border);
    box-shadow: var(--box-shadow-default);
    z-index: var(--z-index-form);
    display: flex;
    flex-direction: column;

    &__header {
        margin: 0;
        text-align: center;
        background: var(--color-button-background);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
    }

    &__content {
        padding: 1.5rem;
    }
}
