<template>
    <div class="card">
        <div 
            v-if="!!$slots.header"
            class="card__header"
        >
            <slot name="header"></slot>
        </div>
        <div class="card__content">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">

// vendor
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'card',
    props: {
        title: {
            type: String,
            required: false
        }
    }
})
</script>
