@use "sass:map";

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    display: flex;
    width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10rem 0 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: map.get($breakpoints, "lg")) {
    body {
        margin: 0;
    }
}
