@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: var(--color-font);
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
}

h1 {
    font-size: 2rem;
    line-height: 2.6rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
}

img {
    vertical-align: middle;
}
