form {
    label {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0.3rem;
        margin: 0.5rem auto;
        padding: 0 0.3rem;
        pointer-events: none;
        transform: translate(0);
        background-color: transparent;
        border-radius: 0.3rem;
        transition: 0.2s all ease-in-out;
    }

    fieldset {
        margin: 0;
        padding: 0;
        border: 0;
    }

    select,
    textarea,
    input {
        background-color: var(--color-input-background);
        border-radius: 0.3rem;
        padding: 0.6rem;
        border: 1px solid var(--color-border);
        outline: none;
    }

    .field-wrapper--has-value select,
    .field-wrapper--has-value textarea,
    .field-wrapper--has-value input,
    select:focus,
    textarea:focus,
    input:focus {
        background-color: white;

        & + label {
            transform: translate(0, -1.2rem);
            background-color: white;
        }
    }

    textarea {
        resize: vertical;
        min-height: 3rem;
    }

    legend {
        font-size: 0.7rem;
        line-height: 0.8rem;
        letter-spacing: 0;
    }
}
