.jumbotron {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    color: white;
    background-image: url("/img/topography.svg");
    background-color: #1b1b1b;

    &::before {
        content: "";
        position: absolute;
        left: -60%;
        top: -50%;
        background-color: #212424;
        width: 200%;
        height: 100%;
        z-index: -1;
        transform: rotate(-11deg);
        box-shadow: var(--box-shadow-default);
    }

    &::after {
        content: "";
        position: absolute;
        left: -60%;
        top: -65%;
        background-color: #282828;
        width: 200%;
        height: 100%;
        z-index: -1;
        transform: rotate(-7deg);
        box-shadow: var(--box-shadow-default);
    }

    h1 {
        margin-top: 0;
    }
}
