@use "sass:map";

.field-wrapper {
    &__field {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &--is-interacted:not(.field-wrapper--is-valid) .field-wrapper__error-messages {
        opacity: 1;
        height: auto;
        margin-top: 1rem;
    }

    &__error-messages {
        @include toast-danger-pointer-top;
        transition: 
            margin 0.3s ease-in-out, 
            height 0.3s ease-in-out,
            opacity 0.15s ease-in-out;
        opacity: 0;
        height: 0;
        margin: 0;

        li {
            padding: 0.1rem 0;

            &:not(:first-child) {
                border-top: 1px solid white;
            }
        }
    }
}

@media only screen and (min-width: map.get($breakpoints, "lg")) {
    .field-wrapper {
        position: relative;

        &__error-messages {
            @include toast-danger-pointer-left;
            margin-top: 0.6rem;
            min-height: 1.8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            width: 18rem;
            right: -19.2rem;
            margin: 0;
            top: 1px;
        }
    }
}
