.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 21rem;

    &__submit {
        background-color: var(--color-button-background);
        border: 1px solid var(--color-button-border);
        color: white;
        border-radius: 0.3rem;
        padding: 0.5rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        font-size: 1rem;

        &:not(.form-wrapper__submit--disabled) {
            &:hover {
                background-color: var(--color-button-background--on-hover);
                border-color: var(--color-button-background);
            }

            &:active {
                background-color: var(--color-button-background);
            }
        }

        &--disabled {
            cursor: not-allowed;
            background-color: var(--color-button-background--disabled);
            border-color: transparent;
        }
    }
}
