.notification {
    max-width: 24rem;
    width: 100%;
    margin: 0 1rem;

    p {
        margin: 0;
    }

    &__header {
        display: flex;
        align-items: center;

        h3 {
            margin: 0;
        }

        img {
            position: absolute;
            right: -1.7rem;
            top: -0.8rem;
            max-width: 2.5rem;
            max-height: 2.5rem;
            border: 4px solid white;
            border-radius: 100%;
            padding: 0.2rem;
            margin-right: 0.8rem;
            background: var(--color-button-background);
            transform: rotate(12deg);
        }
    }

    &__content {
        text-align: center;
    }
}
