<template>
    <div 
        v-if="modelValue.options"
        class="select-field"
    >
        <select            
            v-bind="modelValue.attrs"
            @input="actions.saveValue"
            @blur="actions.saveValue"                  
        >
            <option 
                disabled                 
                value
                hidden 
                :selected="!states.hasValue"
            ></option>
            <option                  
                v-for="option in modelValue.options"
                :value="option.value"
                :selected="states.hasValue && option.value === modelValue.attrs.value"
            >
                {{ option.label }}
            </option>
            
        </select>
        <label 
            v-if="modelValue.label"
            :for="modelValue.attrs?.id ?? null"
        >
            {{ modelValue.label + (states.isRequired ? '*' : '') }}
        </label>
    </div>    
</template>

<script lang="ts">

// vendor
import { defineComponent, PropType } from 'vue';

// interfaces
import { Field as FieldInterface, States as StatesInterface } from '#ts/interfaces/field';
import { Actions as ActionsInterface } from '#ts/interfaces/actions';

export default defineComponent({
    name: 'input-field',
    props: {
        modelValue: {
            type: Object as PropType<FieldInterface>,
            required: true
        },
        actions: {
            type: Object as PropType<ActionsInterface>,
            required: true
        },
        states: {
            type: Object as PropType<StatesInterface>,
            required: true
        }          
    }
})
</script>