<template>
    <div class="textarea-field">
        <textarea
            v-bind="modelValue.attrs"
            @input="actions.saveValue"  
            @blur="actions.saveValue"  
        />
        <label 
            v-if="modelValue.label"
            :for="modelValue.attrs?.id ?? null"
        >
            {{ modelValue.label + (states.isRequired ? '*' : '') }}
        </label>
    </div>    
</template>

<script lang="ts">

// vendor
import { defineComponent, PropType } from 'vue';

// interfaces
import { Field as FieldInterface, States as StatesInterface } from '#ts/interfaces/field';
import { Actions as ActionsInterface } from '#ts/interfaces/actions';

export default defineComponent({
    name: 'input-field',
    props: {
        modelValue: {
            type: Object as PropType<FieldInterface>,
            required: true
        },
        actions: {
            type: Object as PropType<ActionsInterface>,
            required: true
        },
        states: {
            type: Object as PropType<StatesInterface>,
            required: true
        }          
    }
})
</script>