<template>
    <fieldset :class="[
        'field-wrapper',
        { 'field-wrapper--has-value': modelValue.states.hasValue },
        { 'field-wrapper--is-valid': modelValue.states.isValid },
        { 'field-wrapper--is-required': modelValue.states.isRequired },
        { 'field-wrapper--is-interacted': modelValue.states.isInteracted }
    ]">
        <component :is="modelValue.properties.is" :actions="actions"
            :states="modelValue.states" v-model="modelValue.properties" class="field-wrapper__field" />
        <ul class="field-wrapper__error-messages">
            <li v-for="error in modelValue.errors">{{ error.message }}</li>
        </ul>
    </fieldset>
</template>

<script lang="ts">

// vendor
import { defineComponent, computed } from 'vue';

// interfaces
import { FieldHelper as FieldHelperInterface } from '#ts/interfaces/field';

// components
import inputField from '#vue/components/modules/form/fields/input-field.vue';
import selectField from '#vue/components/modules/form/fields/select-field.vue';
import textareaField from '#vue/components/modules/form/fields/textarea-field.vue';

// store
import { form } from '#vue/store/form';

export default defineComponent({
    name: 'field-wrapper',
    components: {
        inputField,
        selectField,
        textareaField
    },
    props: {
        name: {
            type: String,
            required: true
        }
    },
    setup({ name }) {
        let computedField = computed({
            get(): FieldHelperInterface {
                return form.getFieldByName(name);              
            },
            set(value: any) {                
                form.setValueByName(name, value);
            }
        });

        return {
            modelValue: computedField,
            actions: {
                saveValue: (event: Event) => computedField.value = (event.target as HTMLInputElement).value
            }
        };
    }
})
</script>
