<template>
    <SuccessNotification 
        v-if="showSuccessMessage" 
        :title="$translate.form.success.title"
        :description="$translate.form.success.description"
    />
    <Card v-else>
        <form             
            class="form-wrapper" 
            @submit.prevent="submitHandler"
        >
            <slot></slot>
            <button 
                type="submit" 
                :class="[
                    'form-wrapper__submit',
                    { 'form-wrapper__submit--disabled': someHasErrors }
                ]"
            >
                {{ $translate.form.buttons.submit }}
            </button>
            <legend v-if="form.hasRequired">
                {{ $translate.form.legend }}                
            </legend>
        </form>        
    </Card>
</template>

<script setup lang="ts">

// vendor
import { computed, ref } from 'vue';

// interfaces
import { FieldHelper as FieldHelperInterface } from '#ts/interfaces/field';

// components
import Card from '#vue/components/UI/card.vue';
import SuccessNotification from '#vue/components/layouts/success-notification.vue';

// store
import { form } from '#vue/store/form';

let showSuccessMessage = ref(false);

const someHasErrors = computed((): boolean => form.fields.some((field: FieldHelperInterface) => field.errors.length > 0));

const submitHandler = () => {
    if (form.isValidSubmit()) {
        saveToDatabase();
        showSuccessMessage.value = true;
    };
};

const saveToDatabase = () => {
    console.info('save form data');

    // @todo write ajax call to save data to database
};
</script>
