@mixin toast-base(
    $background-color,
    $border-color,
    $showPointerTop: false,
    $showPointerleft: false
) {
    background-color: $background-color;
    border: 1px solid $border-color;
    color: white;
    border-radius: 0.4rem;
    padding: 0 0.6rem;
    font-size: var(--font-size-messages);
    line-height: 1.1rem;
    pointer-events: none;

    @if ($showPointerTop or $showPointerleft) {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 1rem;
            height: 1rem;
            background: linear-gradient(
                135deg,
                $background-color 0%,
                $background-color 50%,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0) 100%
            );
            border-top: 1px solid $border-color;
            border-left: 1px solid $border-color;
            margin: auto;
        }
    }

    @if ($showPointerTop) {
        &::after {
            transform: rotate(45deg);
            top: calc(-0.5rem + 1px);
            left: 0;
            right: 0;
        }
    }

    @if ($showPointerleft) {
        border-top-left-radius: 0;

        &::after {
            transform: skew(45deg);
            top: -1px;
            left: calc(-0.5rem);
            right: unset;
        }
    }
}

@mixin toast-danger {
    @include toast-base(
        var(--color-danger-background),
        var(--color-danger-border),
        false,
        false
    );
}

@mixin toast-danger-pointer-top {
    @include toast-base(
        var(--color-danger-background),
        var(--color-danger-border),
        true,
        false
    );
}

@mixin toast-danger-pointer-left {
    @include toast-base(
        var(--color-danger-background),
        var(--color-danger-border),
        false,
        true
    );
}

@mixin toast-success {
    @include toast-base(
        var(--color-success-background),
        var(--color-success-border)
    );
}
