:root {
    // colors
    --color-background: #f1f2f2;
    --color-font: #282829;
    --color-border: #bbbbbb;
    --color-input-background: #e3e3e3;
    --color-danger-background: #fb7185;
    --color-danger-border: #f43f5e;
    --color-success-background: #10b981;
    --color-success-border: #059669;
    --color-button-border: #0f766e;
    --color-button-background: #0d9488;
    --color-button-background--disabled: #98d3ce;
    --color-button-background--on-hover: #0f766e;

    // shadows
    --box-shadow-default: 0 2px 8px rgba(0, 0, 0, 0.25);

    // z-indexes
    --z-index-form: 10;

    // fonts
    --font-size-default: 0.9rem;
    --line-height-default: 1.4rem;
    --font-size-messages: 0.8rem;
}

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
